<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/static/css/main.css}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/static/css/library.css}">
  <title>Game library</title>
</head>
<body>
<div class="navbar">
  <a th:href="@{/}">
    <div class="logoBox">
      <p class="logoText">P.B.G</p>
      <img th:src="@{/static/images/brain.png}" alt="brainLogo" class="logoSmall">
    </div>
  </a>
  <div class="logout">
    logout
  </div>
</div>

<div class="middle">
  <div class="libraryText">
    <h1>Game Library</h1>
  </div>

  <div class="libraryItemContainer">

    <div class="libraryRow">
      <a th:href="@{/nummerMemLeader}">
        <div class="item item1">
          <p class="itemText">Nummer Memory Leaderboard</p>
        </div>
      </a>
      <div class="item item2">
        <p class="itemText">Coming Soon</p>
      </div>
      <div class="item item3">
        <p class="itemText">Coming Soon</p>
      </div>
    </div>
    <div class="libraryRow">
      <div class="item item4">
        <p class="itemText">Coming Soon</p>
      </div>
      <div class="item item5">
        <p class="itemText">Coming Soon</p>
      </div>
      <div class="item item6">
        <p class="itemText">Coming Soon</p>
      </div>
    </div>
  </div>
</div>






</body>
</html>